.todo-groupe {
    padding: 0;
}

.todo-list {
    list-style: none;
    user-select: none;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.651);
    border-bottom: none;
}

.todo-list:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.todo-list:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.651);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
